@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Inter", sans-serif;
}

.hero {
	background-image: url("/banks.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: calc(100vh - 480px);
}

.signup {
	/* Styles for the container */
	position: relative;
	background-image: url("/src/assets/signup.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: bottom; */
}

.background-opacity {
	/* Styles for the background with opacity */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 115, 56, 0.35); /* Adjust the opacity as needed */
}

.customBgHeight {
	height: 100vh;
}

@media screen and (min-width: 768px) {
	.hero {
		min-height: calc(100vh - 380px);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in {
	animation: fade-in 0.3s ease-out forwards;
}
